<!doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Instagram</title>
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous'>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <nav>
    <h1>NavBar</h1>
    <form action="">
      <div id="searchbar">
        <input id="search" type="text" name="search" placeholder="search karna ❤️de.">
        <div id="searchResult">

        </div>
      </div>
    </form>
    <div id="links">
      <a href="/feed">Feed</a>
      <a href="/profile">Profile</a>
      <a href="/">Home</a>
      <a href="/logout" style="text-decoration: none;">
        <button type="submit" class="btn btn-primary">logout.</button>
      </a>
    </div>
   </nav>