<% include ./partials/header.ejs %>
    <div class="container mt-5">
      <h1>All posts.</h1>
    </div>
    <%user.posts.forEach((post)=>{%>
    <div class="container pt-2 mt-5">
      <h4 style="text-transform: capitalize"><%= post.userId.username %></h4>
      <div
        class="postCard p-2"
        style="
          position: relative;
          width: 600px;
          height: 100px;
          background: linear-gradient(
            to right,
            white,
            grey,
            rgb(0, 128, 90),
            white
          );
          border: 1px solid black;
          border-radius: 7px;
        "
      >
        <p><%= post.postData %></p>
        <div
          style="
            position: absolute;
            width: 100%;
            height: 40px;
            left: -2px;
            border-radius: 7px;
            top: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px;
          "
        >
      <h5 style="color: rgb(255, 127, 227);">time</h5>
      <div class="like d-flex justify-content-center align-items-center" style="gap: 20px;">
        <a href="/like/<%=user.id%>">
          <button type="button" class="btn btn-primary" style="color: rgb(255, 127, 227);">like</button>
        </a>
        <h5 style="color: rgb(255, 127, 227);"><%=user.likes.length%></h5>
      </div>
      </div>
      </div>
    </div>
    <%})%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
